.login-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 380px;
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.login-logo-area {
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crop-box {
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: relative;
}

.crop-target{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}
